.static {
    position: static;
    background: color #378;
    color:aqua;
    margin: 5pcx;
    padding: 10px;
    border: 5px solid
}
.relative {
    position: relative;
    left: 0px;
    top: 0;
    background-color:#378CE7;
    color: #DFF5FF;
    margin: 10px;
    padding: 10px;
    border:5px solid #67C6E3;
}
.absolute {
    position: absolute;
    top:50%;
    left: 10;
    width: auto;
    height: auto;
    background-color:#378CE7;
    color: #DFF5FF;
    border:5px solid #67C6E3;
    padding: 10px;
}
.fixed {
    position: fixed;
    left: 0;
    top: 0;
    color: #DFF5FF;
    background-color:#378CE7;
    width: 100%;
    padding: 10px;
}
.sticky {
    position: webkit-sticky;
    position: sticky;
    top: 200px;
    padding: 5px;
    width: auto;
    height: auto;
    background-color: #378;
    color: #378CE7;
    border: 5px solid #378CE7;
    padding: 10px;
}