body {
  padding: 20px;
  color: white;
  text-align: center;
  font-family: georgia;
  
}

img {
  width: 500px;
  height: 500px;
}

h1 {
  font-size: 16px;
}

h1 {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  body {
      background: red;
  }

h1 {
      font-size: 12px;
  }

  h1 {
      height: 12px;
  }

  img {
      content: url('image/image1.jpg');
  }
}

@media only screen and (min-width: 600px) {
  body {
      background: orange;
  }

  h1{
      font-size: 20px;
  }

  h1 {
      height: 20px;
  }

  img {
      content: url('image/image2.jpg');
  }
}

@media only screen and (min-width: 768px) {
  body {
      background: yellow;
  }

  h1 {
      font-size: 30px;
  }

  h1 {
      height: 30px;
  }

  img {
      content: url('image/image3.jpg');
  }
}

@media only screen and (min-width: 992px) {
  body {
      background: green;
  }

  h1 {
      font-size: 50px;
  }

  h1 {
      height: 50px;
  }

  img {
      content: url('image/image4.jpg');
  }
}

@media only screen and (min-width: 1200px) {
  body {
      background: blue;
  }

  h1 {
      font-size: 100px;
  }

  h1 {
      height: 100px;
  }

  img {
      content: url('image/image5.jpg');
  }
}